
body {
  background-color:rgb(149, 151, 243);
}
h1 {
  color: #7777c4;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family:serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
